<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <!-- <a class="logo" href="/"><img class="bottom_logo" loading="lazy" decoding="async" src="/assets/images/logo_footer.svg" alt="logo" style=" -->
            <a class="logo" href="/"><img class="bottom_logo" loading="lazy" decoding="async" src="/assets/svgs/logo_footer.svg" alt="logo" style="
                width: 21rem;
                height: 16rem;
            "></a>
            <p>
                
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Service Locations</h2>
                    </li>
                    <li><a href="/city/norman">Norman</a></li>
                    <li><a href="/city/moore">Moore</a></li>
                    <li><a href="/city/oklahoma-city">Oklahoma City</a></li>
                    <li><a href="/city/edmond">Edmond</a></li>
                    <li><a href="/city/noble">Noble</a></li>
                    <li><a href="/city/newcastle">Newcastle</a></li>
                </ul>
                <ul>
                    <li>
                        <h2>Locations Cont.</h2>
                    </li>
                    <li><a href="/city/midwest-city">Midwest City</a></li>
                    <li><a href="/city/yukon">Yukon</a></li>
                    <li><a href="/city/del-city">Del City</a></li>
                    <li><a href="/city/warr-acres">Warr Acres</a></li>
                    <li><a href="/city/tuttle">Tuttle</a></li>
                    <li><a href="/city/choctaw">Choctaw</a></li>
                    <li><a href="/city/bethany">Bethany</a></li>
                </ul>
                
                <!-- <ul>
                    <li>
                        <h2>Pages</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            Contact
                        </a>
                    </li>

                </ul> -->
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="{{client.address.mapLink}}">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Better Website</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>
